Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next
.vercel
node_modules
.DS_Store
*.tsbuildinfo
next-env.d.ts
